.header
  ul(class="nav nav-pills pull-right")
    li: a(href="/summary") Sumario
    li: a(href="/home") Estudiantes
    li: a(href="/payments") Pagos
    li: a(href="/expenses") Gastos
    li: a(href="/classes") Cursos
    li: a(href="/logout") Salir
  h3.text-muted Finanzas
